.item {
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.container {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.thead {
  background-color:hsla(0, 0%, 90%, 1);
  font-size: 16px;
  font-weight: 600;
}

.nameCol {
  padding: 20px;
  border-bottom: solid 1px black;
}

.ageCol {
  text-align: center;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}