.App {
	--header_height: 60px;
	}


.hw {
	margin: 0 10px;
	border-radius: 10px;
	padding: 25px;
	font-family: "Montserrat", sans-serif;
	border: 2px solid #353535
}

.hwTitle {
	color: #000;
	font-weight: 600;
	font-size: 22px;
	margin: 0 10px 20px 10px;
}

.hwWrapper {
	max-width: 720px;
	margin: 50px auto;
	&:first-child {
		margin-top: 100px;
	}
}