.App {
	--header_height: 60px;
	}


.hw {
	margin: 0 10px;
	border-radius: 10px;
	padding: 25px;
	font-family: "Montserrat", sans-serif;
	border: var(--border)
}

.hwTitle {
	color: var(--color);
	font-weight: 600;
	font-size: 22px;
	margin: 0 10px 20px 10px;
}

.hwWrapper {
	max-width: 720px;
	margin: 50px auto;
	&:first-child {
		margin-top: 100px;
	}
}

[data-theme='1'] {
    --color: #000000;
		--border: 2px solid #000;
}

[data-theme='2'] {
    --color: #000000;
		--border: 2px solid #000;
}

[data-theme='3'] {
    --color: #FFF;
		--border: 2px solid #FFF;
}

html {
  color: var(--color);
}