.App {
	--header_height: 60px;
	margin: 50px
}

.hw {
	border: 2px solid #AAA;
	border-radius: 10px;
	padding: 25px;
	font-family: "Montserrat", sans-serif;
}

.hwTitle {
	margin: 50px 0 20px 0;
	font-weight: 600;
	font-size: 22px;
}